@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

.gradient {
  background: linear-gradient(90deg, #E8E8E8 50%, #920000 50%);
}

@media (max-width: 768px) { /* Change 768px to your desired medium screen size */
  .gradient {
    background: linear-gradient(180deg, #E8E8E8 50%, #920000 50%);
  }
}

.bg-gradient-right{
  background: linear-gradient(90deg, #920000 100%, #E24F29 100%)
}
.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-hanken {
  font-family: 'Hanken Grotesk', sans-serif;
}
.font-inter{
  font-family: 'Inter', sans-serif;
}

.gradient-border {
  background: linear-gradient(180deg, #EF9D88 0%, #FFB9A7 100%);
}