@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

.gradient {
  background: linear-gradient(90deg, #E8E8E8 50%, #AB0606 50%);
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-hanken {
  font-family: 'Hanken Grotesk', sans-serif;
}